# Supabase / Postgres connection string
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=postgresql://postgres:password@db.xxxxxx.supabase.co:5432/postgres

# Configuración de la aplicación
APP_NAME=Asistente Inmobiliario
APP_ENV=development
API_V1_PREFIX=/api/v1
DEBUG=true
